{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ==== about us==== -->
<div id="about" class="container pt-5">
  <div class="row d-flex justify-content-between align-items-center ">
    <div class="col-md-6">
      <img src='https://images.pexels.com/photos/69483/pexels-photo-69483.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'  width="100%" alt="">
      
    </div>
    <div class="col-md-6">
      <div class="display-3" >About us</div>
      <p
      style="line-height: 2rem;"
      ><b>Great Effort General Contracting LLC</b>
      is a world-class
      construction and manpower supply company located in Abu
      Dhabi, United Arab Emirates. We established in 2008. We
      focus our corporate ideals “To create a better environment for
      the nation” while pursuing our business activities with our
      core strengths of construction and engineering services, and
      we strive to contribute by developing a safe and comfortable
      infrastructure and living environment while prospering as and
      caring for the environment..</p></p>
    </div>
  </div>
</div>

<!-- === company ifnp ==== -->
<div class="container pt-5">
  <h1 class="display-5 text-center ">
    Company Info
  </h1>
  <div class="row d-flex align-items-center">
    <div class="col-md-6">
      <img src="{% static '/img/info.svg' %}" width="100%" alt="">
    </div>
    <div class="col-md-6">
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Company
Name:
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              Great Effort General Contracting LLC
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Specialization:
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ol>
                <li>
                  All Kinds of Building
                  Contracting.
                </li>
                <li>
                  Skilled Manpower Service.
                </li>
                <li>
                  Building Maintenance
                </li>
              </ol>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Address:
              
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <address>
                Hamdan Street, Hamdan Center
Block-B, Office #204, P.O Box: 93980
Abu Dhabi, UAE
              </address>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Telephone
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                026420028
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Mobile:
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                0544568743
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSix">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Email:
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                gegc2010@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingSeven">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Authorized  Person:
            </button>
          </h2>
          <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <ol>
                <li>
                  Abu Jahed Imran – Managing
                  Director
                </li>
                <li>
                  Abu Kawsar - Manager
                </li>
              
              </ol>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingEight">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
              License No: 
            </button>
          </h2>
          <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                182714
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingNine">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
              Line of Activity:
            </button>
          </h2>
          <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                MEP Works (Including Electrical,
                Plumbing, Fire Fighting, Chilled
                Water System)
              </p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTen">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">
              Bank
              Reference:
            </button>
          </h2>
          <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                Janata Bank, Abu Dhabi
                Branch
                Abu Dhabi, UAE
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- === our mission -->
<div class="services_bg mt-5 pb-2" style="background-color: orange;" >
  <div class="container pt-5">
    <h1 class="display-5 text-center ">
      Our mission
    </h1>
    <p class="text-center w-70 mx-auto">
      To provide best services, technical, proficiency, moral
respect and keep commitment with its responsibilities
with our clients.

    </p>
    <div class="row">
      <div class="col-md-4">
        <div class="card service_card text-center border-0 " >
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
           
            <p class="card-text">
              We undertake all the
              responsibility of our
              employee & provide
              services like transportation,
              accommodation & safety
              equipment 
              
            </p>
            
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card service_card text-center border-0 " >
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
           
            <p class="card-text">
              Our employs are ensured
              both personal health
              insurance according to UAE
              law & Workman
              Compensation as well.
            </p>
            
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card service_card text-center border-0 " >
          <!-- <img src="..." class="card-img-top" alt="..."> -->
          <div class="card-body">
           
            <p class="card-text">
              We have over 500
employee in all categories
of our related fields to fulfil
our clients demands.
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- === word from our executibe director -->
  <div class="container pt-5">
      <div class="row d-flex align-items-center justify-content-between ">
          <div class="col-md-6">
              <h1 class="display-5">
                  word from our Managing
                  Director
              </h1>
              <p class="text-brand">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi laudantium ipsum dolore incidunt! Repellat quam inventore, quidem mollitia dolor minus sequi pariatur explicabo!
              </p>
              <h5>
                Managing
Director
              </h5>
              
              <h6>CEO
                ABU JAHED
                IMRAN</h6>
          </div>
          <div class="col-md-6">
              <img class="align-self-end" src="https://www.zsconsultant.com/wp-content/uploads/2018/08/zuhaib-asghar.jpg" alt="">
          </div>
      </div>
  </div>
<!-- ====  clilent score === -->
<div class="services_bg mt-5 pb-2">
<div class="container pt-5">
<div class="row">
  
  <div class="col-md-4">
      <div class="card text-center border-0"  >
          <div class="card-body">
              <!-- <img src="/img/globe.svg" alt=""> -->
              <h1 class="card-title display-5">134</h1>
              <h2 class="card-text display-6 " >Clients</h2>
          </div>
        </div>
  </div>
  <div class="col-md-4">
      <div class="card text-center border-0"  >
          <div class="card-body">
              <!-- <img src="/img/globe.svg" alt=""> -->
              <h1 class="card-title display-5">134</h1>
              <h2 class="card-text display-6 " >Clients</h2>
          </div>
        </div>
  </div>
  <div class="col-md-4">
      <div class="card text-center border-0"  >
          <div class="card-body">
              <!-- <img src="/img/globe.svg" alt=""> -->
              <h1 class="card-title display-5">134</h1>
              <h2 class="card-text display-6 " >Clients</h2>
          </div>
        </div>
  </div>
</div>
</div>
</div>
  
  <!-- === why choose us -->
<div class="container pt-5">
<h1 class="display-5 text-center">
The main advantages
</h1>
<p class="text-center">
We have well experienced MEP & Civil workers who have been worked in
almost all the major projects in UAE. We are working in UAE from Last
12 Years Successfully.

</p>

<div class="row">
<div class="col-md-4 my-4 ">
  <div class="card text-center">
    <img src="/img/house-door.svg" height="220px" class="card-img-top" alt="...">

    <div class="card-body">
      <h5 class="card-title">Commitment</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
    </div>
  </div>
</div>
<div class="col-md-4 my-4 ">
  <div class="card text-center">
    <img src="/img/house-door.svg" height="220px" class="card-img-top" alt="...">

    <div class="card-body">
      <h5 class="card-title">On time and perfection</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
    </div>
  </div>
</div>
<div class="col-md-4 my-4 ">
  <div class="card text-center">
    <img src="/img/house-door.svg" height="220px" class="card-img-top" alt="...">

    <div class="card-body">
      <h5 class="card-title">Another advantages]</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    
    </div>
  </div>
</div>
</div>


</div>

<!-- ====  our clients === -->
  <div class="container pt-5">
      <div class="row slider owl-carousel">
          <div>
              <div class="card text-center border-0"  >
                  <div class="card-body">
                      <!-- <img src="/img/globe.svg" alt=""> -->
                      <h1 class="card-title display-5">1341</h1>
                      <h2 class="card-text display-6 " >Clients</h2>
                  </div>
                </div>
          </div>
          <div>
              <div class="card text-center border-0"  >
                  <div class="card-body">
                      <!-- <img src="/img/globe.svg" alt=""> -->
                      <h1 class="card-title display-5">1342</h1>
                      <h2 class="card-text display-6 " >Clients</h2>
                  </div>
                </div>
          </div>
          <div>
              <div class="card text-center border-0"  >
                  <div class="card-body">
                      <!-- <img src="/img/globe.svg" alt=""> -->
                      <h1 class="card-title display-5">1343</h1>
                      <h2 class="card-text display-6 " >Clients</h2>
                  </div>
                </div>
          </div>
          <div>
              <div class="card text-center border-0"  >
                  <div class="card-body">
                      <!-- <img src="/img/globe.svg" alt=""> -->
                      <h1 class="card-title display-5">1344</h1>
                      <h2 class="card-text display-6 " >Clients</h2>
                  </div>
                </div>
          </div>
          <div>
              <div class="card text-center border-0"  >
                  <div class="card-body">
                      <!-- <img src="/img/globe.svg" alt=""> -->
                      <h1 class="card-title display-5">1345</h1>
                      <h2 class="card-text display-6 " >Clients</h2>
                  </div>
                </div>
          </div>
          <div>
              <div class="card text-center border-0"  >
                  <div class="card-body">
                      <!-- <img src="/img/globe.svg" alt=""> -->
                      <h1 class="card-title display-5">1346</h1>
                      <h2 class="card-text display-6 " >Clients</h2>
                  </div>
                </div>
          </div>
          <div>
              <div class="card text-center border-0"  >
                  <div class="card-body">
                      <!-- <img src="/img/globe.svg" alt=""> -->
                      <h1 class="card-title display-5">1347</h1>
                      <h2 class="card-text display-6 " >Clients</h2>
                  </div>
                </div>
          </div>
          <div>
              <div class="card text-center border-0"  >
                  <div class="card-body">
                      <!-- <img src="/img/globe.svg" alt=""> -->
                      <h1 class="card-title display-5">1348</h1>
                      <h2 class="card-text display-6 " >Clients</h2>
                  </div>
                </div>
          </div>
      </div>
  </div>
  <!-- !-- === team ===  --> -->
  <div class="services_bg mt-5 mb-2">
    <div class="container pt-5">
      <h1 class="display-5 text-center py-3 ">
        Our Awesome Team
      </h1>
      <div class="row">
        <div class="col-md-4">
          <div class="card service_card text-center border-0 " >
            <img src="https://www.zsconsultant.com/wp-content/uploads/2018/08/zuhaib-asghar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ABU JAHED
                IMRAN</h5>
              <h5 class="card-title">Managing Director</h5>
              <p class="card-text">
                Email: <a href="mailto:gegc2010@gmail.
                com
                ">gegc2010@gmail.
                com
                </a>
              </p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card service_card text-center border-0 " >
            <img src="https://www.zsconsultant.com/wp-content/uploads/2018/08/zuhaib-asghar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ABU JAHED
                IMRAN</h5>
              <h5 class="card-title">Managing Director</h5>
              <p class="card-text">
                Email: <a href="mailto:gegc2010@gmail.
                com
                ">gegc2010@gmail.
                com
                </a>
              </p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card service_card text-center border-0 " >
            <img src="https://www.zsconsultant.com/wp-content/uploads/2018/08/zuhaib-asghar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">ABU JAHED
                IMRAN</h5>
              <h5 class="card-title">Managing Director</h5>
              <p class="card-text">
                Email: <a href="mailto:gegc2010@gmail.
                com
                ">gegc2010@gmail.
                com
                </a>
              </p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>

{% endblock %}