{% extends 'base.html' %}
{% load static %}

{% block content %}

            <!-- Page Header Start -->
            <div class="page-header">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2>Our Blog</h2>
                        </div>
                        <div class="col-12">
                            <a href="">Home</a>
                            <a href="">Our Blog</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page Header End -->


            <!-- Blog Start -->
            <div class="blog">
                <div class="container">
                    <div class="section-header text-center">
                        <p>Latest Blog</p>
                        <h2>Latest From Our Blog</h2>
                    </div>
                    <div class="row blog-page">
                        {% for blog in blogsVar %}
                        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div class="blog-item">
                                <div class="blog-img">
                                    <img src="{{ blog.blogthumbnail.url  }}" alt="Image">
                                </div>
                                <div class="blog-title">
                                    <h3>{{ blog.title }}</h3>
                                    <a class="btn" href="">+</a>
                                </div>
                                <div class="blog-meta">
                                    <p>By <span>
                                        {{blog.blogwriter}}
                                    </span> </p>
                                    
                                </div>
                                <div class="blog-text">
                                    <a href="{% url 'singleblog' blog.id %}">
                                        <p>
                                            {{blog.blogsubtitle}}
                                        </p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                       
                        
                    </div>
                    
                </div>
            </div>
            <!-- Blog End -->



{% endblock %}