{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'includes/home/hero.html' with heroslide=herosliders %}
{% include 'includes/home/feature.html' %}
{% include 'includes/home/about.html' with about=aboutVar %}
{% include 'includes/home/fact.html' %}
{% include 'includes/home/clients.html' with client=clients %}


{% include 'includes/home/service.html' with mep=MEPService contracting=ContractingService  %}

{% include 'includes/home/team.html' with engineer=EngineeringTeams adminis=AdministratorTeams  %}
{% include 'includes/home/blog.html' with blogs=blogsVar %}




{% endblock %}