{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- ==== services ===== -->
<div id="services" class="container pt-5">
    <h1 class="display-5 text-center">Our services</h1>
    <p class="text-center w-50 mx-auto"> 
      We have well experienced MEP & Civil workers who have been worked in almost all the major projects in UAE. We are working in UAE from Last 12 Years Successfully.
    </p>
    <h4 class=" text-center">For MEP works</h4>
    
      <div class="row">
     
        <div class="col-md-4  my-4">
          <div class="card service_card text-center border-0" >
            <img src="/img/house-door.svg" height="220px" class="card-img-top" alt="...">
            
            <div class="card-body">
              <h5 class="card-title">Supervisor</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
         </div>
         <div class="col-md-4  my-4">
          <div class="card service_card text-center border-0" >
            <img src="/img/house-door.svg" height="220px" class="card-img-top" alt="...">
            
            <div class="card-body">
              <h5 class="card-title">Engineer</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
         </div>
         <div class="col-md-4  my-4">
          <div class="card service_card text-center border-0" >
            <img src="/img/house-door.svg" height="220px" class="card-img-top" alt="...">
            
            <div class="card-body">
              <h5 class="card-title">Foreman</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
         </div>
         <div class="col-md-4  my-4">
          <div class="card service_card text-center border-0" >
            <img src="/img/house-door.svg" height="220px" class="card-img-top" alt="...">
            
            <div class="card-body">
              <h5 class="card-title">Electrician</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
         </div>
         <div class="col-md-4  my-4">
          <div class="card service_card text-center border-0" >
            <img src="/img/house-door.svg" height="220px" class="card-img-top" alt="...">
            
            <div class="card-body">
              <h5 class="card-title">Plumber</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
         </div>
         <div class="col-md-4  my-4">
          <div class="card service_card text-center border-0" >
            <img src="/img/house-door.svg" height="220px" class="card-img-top" alt="...">
            
            <div class="card-body">
              <h5 class="card-title">Duct man</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
         </div>
         <div class="col-md-4  my-4">
          <div class="card service_card text-center border-0" >
            <img src="/img/house-door.svg" height="220px" class="card-img-top" alt="...">
            
            <div class="card-body">
              <h5 class="card-title">
                Pipe filters
              </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
         </div>
         <div class="col-md-4  my-4">
          <div class="card service_card text-center border-0" >
            <img src="/img/house-door.svg" height="220px" class="card-img-top" alt="...">
            
            <div class="card-body">
              <h5 class="card-title">
                Insulators
              </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
         </div>
         <div class="col-md-4  my-4">
          <div class="card service_card text-center border-0" >
            <img src="/img/house-door.svg" height="220px" class="card-img-top" alt="...">
            
            <div class="card-body">
              <h5 class="card-title">
                Helpers
              </h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
         </div>
      </div>
      <h4 class=" text-center">Contracting work</h4>
      <div class="row">
        <div class="col-md-4  my-4">
          <div class="card service_card text-center border-0" >
            <img src="/img/house-door.svg" height="220px" class="card-img-top" alt="...">
            
            <div class="card-body">
              <h5 class="card-title">Electrical</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
         </div>
         <div class="col-md-4  my-4">
          <div class="card service_card text-center border-0" >
            <img src="/img/house-door.svg" height="220px" class="card-img-top" alt="...">
            
            <div class="card-body">
              <h5 class="card-title">Ducting</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
         </div>
         <div class="col-md-4  my-4">
          <div class="card service_card text-center border-0" >
            <img src="/img/house-door.svg" height="220px" class="card-img-top" alt="...">
            
            <div class="card-body">
              <h5 class="card-title">Plumbing</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
         </div>
      </div>
  </div>
  
  
  
  
  
  
  
  
  <!-- === contatct us -->
  <div class="services_bg mt-5 pb-2">
    <div class="container pt-5">
      <div class="text-center">
          <h1 >Contact us Today and </h1>
          <h1 >Talk to us </h1>
          <button class=" btn btn-lg " style="background: #6C63FF;color: #fff;">Contact us</button>
      </div>
  </div>
  
  </div>


{% endblock %}