{% load static %}
 <!-- Blog Start -->
 <div class="blog">
    <div class="container">
        <div class="section-header text-center">
            <p>Latest Blog</p>
            <h2>Latest From Our Blog</h2>
        </div>
        <div class="row">
            {% for blog in blogs %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="{{ blog.blogthumbnail.url }}" alt="Image">
                    </div>
                    <div class="blog-title">
                      <!-- <a href=""> -->
                        <h3>{{ blog.title }}</h3>
                      <!-- </a> -->
                 
                      
                    </div>
                    <div class="blog-meta">
                        <p>By <span>
                            {{blog.blogwriter}}
                        </span> </p>
                        
                    </div>
                    <div class="blog-text">
                        <a href="{% url 'singleblog' blog.id %}">
                            <p>
                                {{blog.blogsubtitle}}
                            </p>
                        </a>
                       
                    </div>
                </div>
            </div>
            
            {% endfor %}
       
        </div>
    </div>
</div>
<!-- Blog End -->