
{% load static %}
<div class="container">
  <div class="section-header text-center">
   <h1> Our Main Clients  </h1>
  </div>
  <div class="owl-carousel owl-theme" style="display: block !important;" >
    {% for c in client %}
    <div class="item ">
        <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="team-item">
              <div class="team-img">
                  <img src="{{c.companylogo.url}}" style="height: 100px;width: 150px;"  alt="Team Image">
              </div>
              <div class="team-text text-center ">
                  
                 
              </div>
            
          </div>
      </div>
      </div>
     
    {% endfor %}
   
  </div>
</div>