<div class="fact">
    <div class="container-fluid">
        <div class="row counters">
            <div class="col-md-6 fact-left wow slideInLeft">
                <div class="row">
                    <div class="col-6">
                        <div class="fact-icon">
                            <i class="flaticon-worker"></i>
                        </div>
                        <div class="fact-text">
                            {% for e in ExpertWorkerCount|slice:":1" %}
                            <h2 data-toggle="counter-up">
                                {{ e.count }}
                            </h2>
                            {% endfor %}
                            
                            <p>Expert Workers</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="fact-icon">
                            <i class="flaticon-building"></i>
                        </div>
                        <div class="fact-text">
                            {% for c in ClientsCount|slice:":1" %}
                            <h2 data-toggle="counter-up">
                                {{ c.count }}
                            </h2>
                            {% endfor %}
                            <p>Happy Clients</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 fact-right wow slideInRight">
                <div class="row">
                    <div class="col-6">
                        <div class="fact-icon">
                            <i class="flaticon-address"></i>
                        </div>
                        <div class="fact-text">
                            {% for co in CompletedProjectCount|slice:":1" %}
                            <h2 data-toggle="counter-up">
                                {{ co.count }}
                            </h2>
                            {% endfor %}
                            <p>Completed Projects</p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="fact-icon">
                            <i class="flaticon-crane"></i>
                        </div>
                        <div class="fact-text">
                            {% for r in RunningProjectCount|slice:":1" %}
                            <h2 data-toggle="counter-up">
                                {{ r.count }}
                            </h2>
                            {% endfor %}
                            <p>Running Projects</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>