{% load static %}


<div class="service">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Services</p>
            <h2>We Provide Services</h2>
        </div>
        <div class="text-center pb-5">
            <h3>Man power supply(MEP) Works</h3>
            
        </div>
        <div class="row">
            {% for m in mep %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{{ m.photo.url }}" alt="Image">
                        <div class="service-overlay">
                            <p>
                              {{ m.description }}
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>
                            {{ m.title }}
                        </h3>
                        <!-- <a class="btn" id="service-modal-show-btn">+</a> -->
                    </div>
                    
                </div>
            </div>
            {% endfor %}
         
        </div>
        <div class="text-center pt-5 pb-5">
            <h3>Contracting Works</h3>
        </div>
        <div class="row">
            {% for c in contracting %}
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="service-img">
                        <img src="{{ c.photo.url }}" alt="Image">
                        <div class="service-overlay">
                            <p>
                                {{ c.description }} sem.
                            </p>
                        </div>
                    </div>
                    <div class="service-text">
                        <h3>
                            {{c.title}}
                        </h3>
                        <!-- <a class="btn" href="{% static 'img/service-1.jpg' %}" data-lightbox="service">+</a> -->
                    </div>
                </div>
            </div>
            {% endfor %}
            
           
        </div>
    </div>
</div>

