<!-- ===== footer ==== -->
<footer class="bg-dark text-white mt-5 pt-5 mb-2">
  <div class="container ">
    <div class="row">
      <div class="col-md-6">
        <h5>Get In Touch</h5>
        <h6  class="pt-2">Email</h6>
        <a href="mailto:fahimalif077@gmail.com" class="text-brand">fahimalif077@gmail.com</a>
        <h6 class="pt-2">phone</h6>

        <a href="phone:+8801888631410" class="text-brand">+880 1888631410</a>
        <h6 class="pt-2" >Address</h6>
        <p class="text-brand">
          Office # 60, Global Ascent Business Center (Near Daman Office)
M4 – Musaffah, Abu Dhabi – UAE
        </p>

      </div>
      <div class="col-md-6">
        <h5>Our Social Media</h5>

      </div>

    </div>
    <p class="text-center">Copyright.All rights reserved</p>
  </div>
</footer>