
{% load static  %}
<div class="footer wow fadeIn" data-wow-delay="0.3s">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6">
                <div class="footer-contact">
                    <h2>Office Contact</h2>
                    <p><i class="fa fa-map-marker-alt"></i>Hamdan Street, Hamdan Centre, Block-B, Office #204 </p>
                    <p><i class="fa fa-phone-alt"></i>026420028</p>
                    <p><i class="fa fa-envelope"></i>gegc2010@gmail.com</p>
                    <div class="footer-social">
                  
                        <a href="https://www.facebook.com/pages/category/Construction-Company/GREAT-EFFORT-GENERAL-CONTRACTING-L-L-C-822358297875830/"  target="__blank" ><i class="fab fa-facebook-f"></i></a>
                     
                    </div>
                </div>
            </div>
           
            <div class="col-md-6 col-lg-6">
                <h2>Office Address</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7261.710346560117!2d54.358300670122645!3d24.49047440154422!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e5e6665decbd6e5%3A0xbf40d59ee29ded12!2sHamdan%20Shopping%20Center!5e0!3m2!1sen!2sbd!4v1624722697307!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
   
    <div class="container copyright">
       
            <div class="text-center mb-5">
                <p>&copy; <a href="#">Great Effort UAE</a>, All Right Reserved.</p>
            </div>
            
     
    </div>
</div>