<!-- ===== footer ==== -->
{% load static %}
<div class="footer wow fadeIn" data-wow-delay="0.3s">
  <div class="container">
      <div class="row">
          <div class="col-md-6 col-lg-3">
              <div class="footer-contact">
                  <h2>Office Contact</h2>
                  <p><i class="fa fa-map-marker-alt"></i>Hamdan Street, Hamdan Centre,
                    Block-B, Office #204
                    </p>
                  <p><i class="fa fa-phone-alt"></i>+012 345 67890</p>
                  <p><i class="fa fa-envelope"></i>gegc2010@gmail.com</p>
                  <div class="footer-social">
               
                      <a href=""><i class="fab fa-facebook-f"></i></a>
                     
                  </div>
              </div>
          </div>
        
      </div>
  </div>
  
  <div class="container copyright">
      <div class="row">
          <div class="col-md-6">
              <p>&copy; <a href="#">Your Site Name</a>, All Right Reserved.</p>
          </div>
          <div class="col-md-6">
              <p>Designed By <a href="https://htmlcodex.com">HTML Codex</a></p>
          </div>
      </div>
  </div>
</div>