 <!-- Portfolio Start -->
 {% load static %}
 <div class="portfolio">
    <div class="container">
        <div class="section-header text-center">
            <p>Our Projects</p>
            <h2>Visit Our Projects</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".first">Complete</li>
                    <li data-filter=".second">Running</li>
                    <li data-filter=".third">Major Projects</li>
                </ul>
            </div>
        </div>
        <div class="row portfolio-container">
            {% for p in project %}
            {% if p.category == 'completed' %}
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-warp">
                    <div class="portfolio-img">
                        <img src="{{ p.photo.url }}" alt="Image">
                        <div class="portfolio-overlay">
                            <p>
                                {{p.description}}
                            </p>
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>
                            {{p.name}}
                        </h3>
                        <!-- <a class="btn" href="{% static 'img/portfolio-1.jpg' %}" data-lightbox="portfolio">+</a> -->
                    </div>
                </div>
            </div>
            {% elif p.category == 'running' %}
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-warp">
                    <div class="portfolio-img">
                        <img src="{{ p.photo.url }}" alt="Image">
                        <div class="portfolio-overlay">
                            <p>
                                {{p.description}}
                            </p>
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>
                            {{p.name}}
                        </h3>
                        <!-- <a class="btn" href="{% static 'img/portfolio-1.jpg' %}" data-lightbox="portfolio">+</a> -->
                    </div>
                </div>
            </div>
            {% elif p.category == 'majorprojects'   %}
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item third wow fadeInUp" data-wow-delay="0.1s">
                <div class="portfolio-warp">
                    <div class="portfolio-img">
                        <img src="{{ p.photo.url }}" alt="Image">
                        <div class="portfolio-overlay">
                            <p>
                                {{p.description}}
                            </p>
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>
                            {{p.name}}
                        </h3>
                        <!-- <a class="btn" href="{% static 'img/portfolio-1.jpg' %}" data-lightbox="portfolio">+</a> -->
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            
            
        </div>
       
    </div>
</div>
<!-- Portfolio End -->