  <!-- Contact Start -->
  <div class="contact wow fadeInUp">
    <div class="container">
        <div class="section-header text-center">
            <p>Get In Touch</p>
            <h2>For Any Query</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="contact-info">
                    <div class="contact-item">
                        <i class="flaticon-address"></i>
                        <div class="contact-text">
                            <h2>Location</h2>
                            <p>Hamdan Street, Hamdan Centre, Block-B, Office #204</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <i class="flaticon-call"></i>
                        <div class="contact-text">
                            <h2>Phone</h2>
                            <p>026420028</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <i class="flaticon-send-mail"></i>
                        <div class="contact-text">
                            <h2>Email</h2>
                            <p>gegc2010@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <div id="success"></div>
                    <form  
                    method="POST"
                    action="{% url 'contactform' %}">
                    {% csrf_token %}
                    <div class="control-group py-4 ">
                        <input class="form-control" type="tezt" id="name" name='name' placeholder="your name" required>
                      
                    </div>
                    <div class="control-group py-4">
                        <input class="form-control" type="email" id="email" name='email' placeholder="your email" required>
                      
                    </div>
                    <div class="control-group py-4 " >
                        <input class="form-control" id="mobileno" name='mobileno' placeholder="your Mobile number" type="number" required>
                      
                    </div>
                    <div class="control-group py-4">
                        <input class="form-control" type="text" id="subject" name='subject' placeholder=" subject" required>
                      
                    </div>
                        <div class="control-group py-4">
                            <textarea class="form-control" id="message" name='message' placeholder="Message" required></textarea>
                          
                        </div>
                        <div>
                            <button class="btn" type="submit" >Send Message</button>
                        </div>
                    </form>
                    

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Contact End -->