   <!-- Contact Start -->
   <div class="contact wow fadeInUp">
    <div class="container">
        <div class="section-header text-center">
            <p>Get In Touch</p>
            <h2>For Any Query</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="contact-info">
                    <div class="contact-item">
                        <i class="flaticon-address"></i>
                        <div class="contact-text">
                            <h2>Location</h2>
                            <p>Hamdan Street, Hamdan Centre,
                                Block-B, Office #204</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <i class="flaticon-call"></i>
                        <div class="contact-text">
                            <h2>Phone</h2>
                            <p>0544568754</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <i class="flaticon-send-mail"></i>
                        <div class="contact-text">
                            <h2>Email</h2>
                            <p>gegc2010@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <a class="btn" href="mailto:gegc2010@gmail.com">Contact with Email</a>
                <a class="btn" href="https://api.whatsapp.com/send?phone=971544568754" target="blank" >Contact with Mobile no.</a>

            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
